* {
  margin: 0;
  padding: 0;
}

p {
  margin: 50px;
}

body {
  background: #444;
  color: #bbb;
}

.domTest td {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.domTest {
  border-spacing: 0;
}

li {
  margin-left: 20px;
}


/*Calendar*/
#calendar{
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#calendar table{
  border-spacing: 0;
  border-collapse: collapse;
}
#calendar th, #calendar td{
  border: ghostwhite solid 1px;
  padding: 2px;
  width: 20px;
  height: 20px;
}
#calendar th{
  background-color: #383;
}
#calendar th:nth-child(6),#calendar th:nth-child(7){
  background-color: #262;
}
