* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #444;
}
.boardWrapper {
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
}
.whiteCell, .blackCell{
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
}
.whiteCell {
    background-color: #EFDAB6;
}
.blackCell{
    background-color: #B58961;
}
.highlight{
    box-shadow: 0 0 0 2px #000 inset, 0 0 0 4px white inset;
}

.checkersImg{
    height: 40px;
    width: 40px;
    margin: 5px;
}